<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
  
  	<servlet>
  		<servlet-name>servletCalculator</servlet-name>
  		<servlet-class>ua.vn.servlet.ServletCalc</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
  		<servlet-name>servletCalculator</servlet-name>
  		<url-pattern>/srvltCalc</url-pattern>
  	</servlet-mapping>

</web-app>
